<section>
  <div class="page-header">
<h1>Reserve your place at Skint 2014</h1>
<h3>31st October - 3rd November 2014, Ashover, Derbyshire</h3>
</div>

<div class="alert alert-block alert-info">
<h4>Note</h4>

<p>You have until <b><%= l @pre_reservation.expires_at %></b> to complete your reservation.</p>

</div>

<%= bootstrap_form_for(@reservation, html: { class: 'form-horizontal' }) do |f|%>
  <% if f.object.errors.any? %>
  <div class="controls alert alert-block">
    <h4>Error</h4>
    <%= f.object.errors.full_messages.to_sentence %>
  </div>

  <% end %>
  <%= hidden_field_tag :pre_reservation, @pre_reservation.reference %>
  <%= f.text_field :name, label: "Your name", autofocus: true %>
  <%= f.text_field :email %>
  <%= f.text_field :phone_number %>
  <%= f.text_field :dietary_requirements, help: "if any" %>
  <%= f.text_field :travelling_from, help: "so we can coordinate lift sharing" %>
  <%= f.select :ticket_type, ticket_type_options.map { |type| [type.option_label(@pre_reservation), type.name] }, help: "Non-accomodation place also means you're on the waiting list for an accomodation ticket" %>

  <%= f.check_box :camping, label: "Do you want to camp? (£5 per unit per night, pay during the weekend)." %>

  <div class="control-group">
  <div class="controls">
    <p><strong>Participating in Skint</strong></p>
    <p>Skint depends on the cooperation everyone attending to help out with day-to-day tasks.</p>

    <p>We think that if everyone volunteers about <b>two hours</b> during the course of the weekend, then nobody will end up getting stuck doing the washing up all day!</p>

    <p>Here are some of the jobs we'll need your help with:</p>
    <ul>
      <li>Booking people in at the welcome desk on Friday evening</li>
      <li>Collecting people from nearby train stations on Friday evening<br />&mdash; let us know your what time on Friday you could do this</li>
      <li>Moving furniture between dancing sessions and meals</li>
      <li>Scrubbing and chopping veg and fruit</li>
      <li>Preparing plates etc. and serving up for meals</li>
      <li>Washing up and tidying the kitchen</li>
      <li>Sweeping and cleaning at the end on Sun and Mon</li>
    </ul>

    <p>Skint is also about sharing music and dance. Can you teach a dance or music workshop? Or play for dancing? Let us know below.</p>
  </div>
  </div>

  <%= f.text_area :what_can_you_help_with, rows: 10, help: "see #{link_to 'how skint works', '/info'}".html_safe %>

  <%= f.text_area :comments, rows: 10 %>

  <div class="control-group">
  <div class="controls">
    <p><strong>Important</strong></p>
  <p>Your reservation is not confirmed until we receive your payment. Online payments must be received with 7 days. Postal cheque payments must be received with 14 days. If we do not receive your payment within this time, your place will be released to someone else.</p>
  <p class="help-block"><b>UK Residents</b> - pay quickly and easiliy using our secure payment provider <b>Go Cardless</b>. The one-off payment is taken via direct debit which saves us money by avoiding credit card fees.</p>
  <p class="help-block"><b>International customers</b> - pay using your credit card via paypal. We pay a higher fee to use paypal, so if you can, please choose another option.</p>
  <p class="help-block"><b>Cheque</b> - as a last resort, you can post us a cheque. Details will be shown on the next page.</p>
  </div>
  </div>
  <%= f.select :payment_method, payment_methods, html: {class: "span3"} %>

  <%= f.actions do %>
    <%= f.primary 'Make reservation', disable_with: 'Reserving...' %>
  <% end %>

<% end %>
</section>
